body{
    background-color: rgb(0, 0, 0);
    font-family: "Poppins", sans-serif;
}
.navBar{
    height: 70px;
    width: 100vw;
    display: flex;
    align-items: center;
}
.logo{
    font-family: "Bebas Neue", sans-serif;
    margin-left: 15px;
    padding:5px;

}
#front{
    font-size: 30px;
    color:rgb(136, 0, 255);
}
#end{
    font-size: 30px;
    color: white;
}
.navLinks{
    position: absolute;
    right: 20px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.navLinks a{
    color: rgb(255, 255, 255);
    font-size: 15px;
    text-decoration: none;
    margin-right:15px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
#home:hover{
    color: #b203ec;
    text-decoration: none;  
    font-size: 16px;
}

#documents:hover{
    color: #b203ec;
    text-decoration: none;  
    font-size: 16px;
}

#aboutus:hover{
    color: #b203ec;
    text-decoration: none;  
    font-size: 16px;
}
.mainDiv{
    position: absolute;
    top: 70px;
    left: 0;
    background-size: cover;
    background-color: white;
    height: 100vh;
    width: 100vw;    
}
@media screen and (max-width: 600px){
    .navLinks{
        display: none;
    }
    .logo{
        margin-left: 15px;
    }
    #front{
        font-size: 40px;
    }
    #end{
        font-size: 40px;
    }
}

#about,#login,#logout{
    color: rgb(0, 98, 255);
}