{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='home.css') }}>
{% endblock head %}
{% block body %}
    <div>
        <form action="" method="post" enctype="multipart/form-data">
            <input type="file" name="file" id="file" style="display: none;">
            <label for="file">
                <button type="submit" onclick="">Upload</button>
            </label>
        </form>
    </div>
    <div class="fileSegment">
        {% if files %}
            {% for file in files  %}
                <div class="fileBox">
                    <div class="preview">
                        <img [src]={{file.file_path}} alt="file" class="fileIcon">
                    </div>
                    <div class="fileName">
                        <a>
                            {{file.file_name}}
                        </a>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <script>
        const inputElement = document.querySelector('input[type="file"]');

        const uploadButton = document.querySelector('button[type="submit"]');
        uploadButton.addEventListener('click', (event) => {
            console.log("Clicked")
            event.preventDefault();
            const file = inputElement.files[0];
            if (file) {
            const formData = new FormData();
            formData.append('file', file);
            fetch('http://127.0.0.1:5000/upload', {
                method: 'POST',
                body: formData
            }).then(response => {
                console.log(response);
            });
            }
        });
    </script>

{% endblock body %}
