{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='home.css') }}>
{% endblock head %}
{% block body %}
    <div>
        <form action="" method="post" enctype="multipart/form-data">
            <input type="file" name="file" id="file" style="display: none;">
            <label for="file">
                <button type="submit" onclick="">Upload</button>
            </label>
        </form>
    </div>
    <div class="fileSegment">
        {% if files %}
            {% for file in files  %}
                <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 fileBox ">
                    <a href="#">
                        <img class="rounded-t-lg" src={{file.file_nameDb}} alt="" />
                    </a>
                    <div class="p-5">
                        <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            {{file.file_name}}
                        </a>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <script>
        const inputElement = document.querySelector('input[type="file"]');

        const uploadButton = document.querySelector('button[type="submit"]');
        uploadButton.addEventListener('click', (event) => {
            console.log("Clicked")
            event.preventDefault();
            const file = inputElement.files[0];
            if (file) {
            const formData = new FormData();
            formData.append('file', file);
            fetch('http://127.0.0.1:5000/upload', {
                method: 'POST',
                body: formData
            }).then(response => {
                console.log(response);
            });
            }
        });
    </script>

{% endblock body %}
