{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='login.css') }}>
    
{% endblock head %}
{% block body %}
    <div class="mainDiv">
        <div class="boxDiv">
            <h1 class="title">
                Login
            </h1>
            <form class="form" method="post">
                <div class="field">
                    <label class="fieldLabel" for="email">Email </label>
                    <input class="fieldInput" type="email" id="email" name="email" placeholder="Email">
                </div>
                <div class="field">
                    <label class="fieldLabel" for="password">Password </label>
                    <input class="fieldInput" type="password" id="password" name="password" placeholder="Password">
                </div>
                <div class="btn">
                    <button type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
{% endblock body %}